<div class="all">
  <div class="author">
    <div style="flex-direction: column">
      <p>Консультант по методу А.А. Хшановской - психологичекий портрет личности</p>
      <p>Катерина Путинцева</p>
    </div>
    <button class="taplink" (click)="openTapLink()" >Taplink</button>
  </div>
  <div class="content">
      <div class="read">
        <div class="read2">
          <h1>Портрет личности</h1>
          <h3>Рассчитайте психологический портрет</h3>
          <h3>личности по методу А. А. Хшановской на</h3>
          <h3>основе арканов по дате рождения</h3>
        </div>
      </div>
      <div>
        <div class="cInput">
          <div style="display: flex; flex-direction: column">
            <div class="lab">
              <label for="date">Введите дату рождения</label>
            </div>
            <input id="date" placeholder="дд-мм-гггг" class="date" [formControl]="date" (input)="userInputDate()">
          </div>
          <button class="but1" id="button" (click)="goToPortrait()">Рассчитать</button>
        </div>
        <br>
        <br>
        <br>
        <img class="picture" src="../../assets/svg/onbording.svg">
      </div>
  </div>
</div>
