<img class="picture" src="../../assets/svg/secondSvg.svg">
<div class="author">
  <p>Консультант по методу А.А. Хшановской - психологичекий портрет личности</p>
  <p>Катерина Путинцева</p>
  <button class="taplink" (click)="openTapLink()" >Taplink</button>
  <h1>Портрет личности</h1>
</div>
<div class="wrapper">
  <app-arcane-value [key]="11" [value]="arcaneValue[10]" class="wrapper__1"></app-arcane-value>
  <app-arcane-value [key]="9" [value]="arcaneValue[8]" class="wrapper__2"></app-arcane-value>
  <app-arcane-value [key]="10" [value]="arcaneValue[9]" class="wrapper__3"></app-arcane-value>
  <app-arcane-value [key]="13" [value]="arcaneValue[12]" class="wrapper__4"></app-arcane-value>
  <app-arcane-value [key]="14" [value]="arcaneValue[13]" class="wrapper__5"></app-arcane-value>
  <app-arcane-value [key]="1" [value]="arcaneValue[0]" class="wrapper__6"></app-arcane-value>
  <app-arcane-value [key]="2" [value]="arcaneValue[1]" class="wrapper__7"></app-arcane-value>
  <app-arcane-value [key]="3" [value]="arcaneValue[2]" class="wrapper__8"></app-arcane-value>
  <app-arcane-value [key]="4" [value]="arcaneValue[3]" class="wrapper__9"></app-arcane-value>
  <app-arcane-value [key]="5" [value]="arcaneValue[4]" class="wrapper__10"></app-arcane-value>
  <app-arcane-value [key]="7" [value]="arcaneValue[6]" class="wrapper__11"></app-arcane-value>
  <app-arcane-value [key]="6" [value]="arcaneValue[7]" class="wrapper__12"></app-arcane-value>
  <app-arcane-value [key]="12" [value]="arcaneValue[11]" class="wrapper__13"></app-arcane-value>
  <app-arcane-value [key]="8" [value]="arcaneValue[7]" class="wrapper__14"></app-arcane-value>
  <app-arcane-value [key]="'A'" [value]="arcaneValue[14]" class="wrapper__15"></app-arcane-value>
  <app-arcane-value [key]="'B'" [value]="arcaneValue[15]" class="wrapper__16"></app-arcane-value>
  <app-arcane-value [key]="'C'" [value]="arcaneValue[16]" class="wrapper__17"></app-arcane-value>
  <app-arcane-value [key]="'D'" [value]="arcaneValue[17]" class="wrapper__18"></app-arcane-value>
  <app-arcane-value [key]="'E'" [value]="arcaneValue[18]" class="wrapper__19"></app-arcane-value>
  <app-arcane-value [key]="'F'" [value]="arcaneValue[19]" class="wrapper__20"></app-arcane-value>
  <app-arcane-value [key]="'H'" [value]="arcaneValue[20]" class="wrapper__21"></app-arcane-value>
  <app-arcane-value [key]="'G1'" [value]="arcaneValue[21]" class="wrapper__22"></app-arcane-value>
  <app-arcane-value [key]="'G2'" [value]="arcaneValue[22]" class="wrapper__23"></app-arcane-value>
</div>
<app-footer></app-footer>
