<div class="footer">
  <br>
  <button class='takeMyMoney' (click)="goToTelegram()">Заказать полную расшифроку пакета</button>
  <p>Полная расшифровка портрета личности - это большая персональная электронная книга о потенциале вашей личности объёмом 25 страниц.</p>
  <p>Что входит в книгу?
    Описание 3 частей портрета: кармической, основной      и теневой.
    Это 23 позиции портрета, которые рассчитаны в данном калькуляторе.</p>
  <button class="info" (click)="openModal()">Подробнее</button>
  <jw-modal>
  </jw-modal>
  <p style="margin-bottom: 0">Оформление книги: 3-4 дня после оплаты</p>
  <p style="margin-top: 0">Стоимость 9 500 р.</p>
</div>
