.footer{
  color: #92755F;
  margin: 3%;
  display: flex;
  flex-direction: column;
}

.takeMyMoney{
  border: 0;
  border-radius: 20px;
  height: 7%;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  padding: 2px;
  color: white;
  background: #CBA77C;
  margin-bottom: 5%;
  text-decoration: underline;
  min-height: 50px;
  align-self: center;
}

.info{
  min-height: 40px;
  border: 0;
  border-radius: 9px;
  width: 20%;
  height: 7%;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  padding: 2px;
  color: #CBA77C;
  background: white;
  text-decoration: underline;
  min-width: 60px;
  align-self: center;
}

@media only screen and (max-device-width: 800px) {
  .takeMyMoney{
    font-size: 20px;
    max-width: 80%;
  }
  .info{
    font-size: 20px;
    width: 35%;
    height: 5%;
  }
}


