.block{
  background: #FFFFFF;
  border-radius: 15px;
  width: 100%;
  align-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  vertical-align: middle;
}
.arcane-value{
  width: 85%;
  min-width: 50px;
  min-height: 35px;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 3vh;
}
p{
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
}

