<div class="jw-modal">
  <div class="jw-modal-body">
    <h3>23 позиции портрета личности</h3>
    <ol>
      <li> Аркан первого периода жизни до 25 лет</li>
      <li> Аркан второго периода жизни до 45 лет</li>
      <li> Аркан третьего периода жизни после  45 лет</li>
      <li> Теневой аркан личности</li>
      <li> Аркан сознания личности</li>
      <li> Аркан таланта личности</li>
      <li> Аркан предназначения</li>
      <li> Аркан даров личности</li>
      <li> Аркан психологического комфорта</li>
      <li>  Аркан восприятия себя</li>
      <li>  Аркан восприятия вас другими людьми</li>
      <li>  Аркан кармического прошлого</li>
      <li>  Аркан кармических обязательств</li>
      <li>  Аркан кармической задачи</li>
      <li>  Аркан страхов личности</li>
      <li>  Аркан травмированной части личности</li>
      <li>  Аркан главной потребности души</li>
      <li>  Аркан стрессового поведения</li>
      <li>  Аркан скрытый ресурс бессознательного</li>
      <li>  Аркан отрицания, то что человек не принимает  в себе</li>
      <li>  Аркан сферы, в которой проявляется разрушительное поведение человека</li>
      <li>  Аркан сверхпотенциала личности</li>
      <li>  Аркан сильнейший ресурс, помогающий в развитии</li>
    </ol>
  </div>
</div>
<div class="jw-modal-background"></div>
