@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Roboto&display=swap');

.onBoarding{
  background: #92755F;
}
.portrait{
  background: #E1DAD2;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

a{
  text-decoration: none
}
